---
import Layout from "../layouts/Layout.astro";
import ContactInfoBlock from "../components/ContactInfoBlock.astro";
---

<Layout title="Josh Waller | Contact">
  <main class="container mx-auto px-4 py-8">
    <ContactInfoBlock />
  </main>
</Layout>
