---
const navLinkClass =
  "text-secondary-500 border border-transparent hover:border-secondary-500 p-2 lg:text-lg";
---

<nav class="bg-white flex justify-around my-4" role="navigation">
  <a href="/" class={navLinkClass}>Home</a>
  <a href="/about" class={navLinkClass}>About</a>
  <a href="/portfolio" class={navLinkClass}>Portfolio</a>
  <a href="/contact" class={navLinkClass}>Contact</a>
</nav>
